__pycache__/
*.pyc

.env

.vscode/

.idea/

logs/

/test_ecs/

.venv/

venv/

.envrc

*.log

.flocirc/

.flocirc


./floci-data   

./floci-data/

.airflow/

.pytest_cache/

dist/

build/

*.egg-info/